#### Agent ####
--host_identifier=uuid
--utc
--disable_distributed=true
--disable_carver=true
--watchdog_level=-1

#### Config ####
--config_plugin=s3
--config_refresh=300

#### Logging ####
--logger_tls_period=30
--aws_firehose_period=30
--logger_plugin=aws_firehose
--aws_firehose_stream={{ aws_firehose_stream }}
--aws_access_key_id={{ aws_access_key_id }}
--aws_secret_access_key={{ aws_secret_access_key }}
--aws_region={{ aws_region }}

#### Extension ####
--disable_extensions=false
--extensions_autoload=/etc/osquery/extensions.load
--extensions_require=s3
--extensions_timeout=3
--extensions_interval=3